.progress {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px solid green;
    overflow: hidden;
    display: none;
}

.progress-bar {
    height: 100%;
    border-radius: 50%;
    background-color: #4CAF50;
    animation: spin 2s linear infinite;
    color: blue;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
}